*,::before,::after{margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
img{vertical-align: bottom;}
button{cursor: pointer;}
:disabled{ cursor: not-allowed;}
label{ display: inline-block;}
iframe{ border: none;}

body{
    background-color: #008140;
    font-family:bb, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face {
    font-family: lb;
    src: url(../fonts/lato-black.woff2);
    font-display: swap;
}
@font-face {
    font-family: bb;
    src: url(../fonts/BebasNeue-Bold.woff2);
    font-display: swap;
}
 h1,h2,h3{font-family: bb , sans-serif;}
.wrap-1{
    background-color:#008140;
    place-items: center;
    }
.container{
    max-width: 1200px;
    margin: auto; 
    padding: 0 15px;
    }

.row{
    display: flex; 
    flex-flow: row wrap; margin: 0 -15px;
}
.row [class^="col"]{ flex: 1 0 auto; padding: 0 15px;}
.row .col-12{ flex-basis: 100%; max-width: 100%;}


.wrap-1 .quiz{background-color: #fff; padding:30px 80px; 
    border: 10px; margin: 100px 0;
    box-shadow: 0 10px 10px -0.70px rgba(0, 0,0,0.4);
}
.quiz h2{
    font-size: 45px; font-weight: 400; margin: 10px 0 40px 0;
}

.quiz ul{list-style: none; padding-left: 0px;}
.quiz ul li{margin-top: 15px; font-size: 30px; color: #333;}
.quiz input{cursor: pointer; margin-right: 10px;width: 20px; height: 20px;}

#submit, .btn{
    padding: 10px 30px;
    outline: none;
    font-size:20px;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #008140;
    margin-top: 40px;
    cursor: pointer;
}
#submit:hover{
    background-color:#05da73;
}

.scoreArea{display: none;}

#showSource{
    background-color: #dfe6e9;
    margin-top: 30px;
    padding: 30px 40px;
    box-shadow: 0 10px 10px -0.70px rgba(0, 0,0,0.4);
}
#showSource h3{font-size: 30px; text-align: center;}
#showSource .btn{margin-top: 20px; 
            background-color: #18a34a;
            color: #2d3436; 
}
#showSource .btn:hover{
    background-color: green;
    color: #fff;
}


@media screen and  (max-width:1220px){

}
@media screen  and (max-width:980px){
    .row .col-t-12{ flex-basis: 100%; }   
}
@media screen and (max-width:767px){
    .row .col-m-12{ flex-basis: 100%; }
    .wrap-1 .quiz{ padding:30px 40px;}
}
@media screen and (max-width:460px){
    .row .col-p-12{ flex-basis: 100%; }
    .wrap-1 .quiz{ padding:30px 20px; }
    .quiz h2{
        font-size: 23px; font-weight: 400px; margin: 10px 0 40px 0;
    }
    
    .quiz ul{padding: 0px;}
    .quiz ul li{font-size: 20px;}
    .quiz input{width: 15px; height: 15px;}
}